#new-password form .instruction {
  margin-bottom: 20px;
  font-size: inherit;
  font-weight: normal;
  color: rgb(70, 70, 70);
}

#divider {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
